bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
TestResults/
*.log
*.ncrunch*
_ReSharper*/
*.DotSettings.user
*.dbmdl
*.pdb
*.cache
*.ide
*.sdf
*.sln.ide
*.sln.docstates
*.vspscc
*.vssscc
*.vsscc
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db